body {
	background-color: #c0c0c0;
	font-family: Arial, sans-serif;
	font-size: 1em;
	line-height: 1.3em;
}

code {
	border: thin dotted #ee0000;
	background-color: #f0f0f0;
}

pre code {
	display: block;
	white-space: pre-wrap;
	padding: 0.2em;
	font-family: Consolas, monospace;
	line-height: 1em;
	font-size: 0.9em;
}

a {
	color: #4682b4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.article,div.heading {
	max-width: 190mm;
	padding: 10mm;
	background-color: #ffffff;
	margin-bottom: 5mm;
	margin-left: auto;
	margin-right: auto;
	border: solid thin #000000;
}

div.heading {
	padding-bottom: 0;
	overflow: hidden;
}

div.heading div.nav {
	text-align: right;
}

div.heading h1 {
	font-size: 2.5em;
}

div.heading h2 {
	font-size: 1em;
	font-family: Consolas, monospace;
}

div.heading div.address {
	text-align: right;
	font-size: 0.9em;
	font-style: italic;
}

div.heading div.share {
	text-align: right;
}

div.article h1 {
	font-size: 2em;
}

div.article h2 {
	font-size: 1.5em;
}

div.reference h3 {
	font-size: 1.2em;
	font-weight: normal;
	border-bottom: thin dotted black;
}

div.reference h3 em {
	color: #008000;
}
